{% load i18n static %}
{% if cl.search_fields %}
<div class="tm-admin-search">
    <label class="tm-admin-search-label">{% translate "Search" %}</label>
    <div class="tm-admin-search-row">
        <input type="text" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" class="tm-admin-search-input" autofocus placeholder="{% translate 'Search details...' %}">
        <button type="submit" class="tm-admin-search-submit">{% translate 'Search' %}</button>
        {% if show_result_count %}
            <span class="tm-admin-search-meta">
                {% blocktranslate count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktranslate %}
                (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% translate "clear" %}</a>)
            </span>
        {% endif %}
    </div>

    {% for pair in cl.params.items %}
        {% if pair.0 != search_var %}
            <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">
        {% endif %}
    {% endfor %}
</div>
{% endif %}
